Repository ds4dm/ecole, pull requests merged in 2021-06, with the labels that each got.

#144 Dual integral
  docs/reference/rewards.rst
  libecole/CMakeLists.txt
  libecole/include/ecole/reward/boundintegral.hpp
  libecole/src/reward/boundintegral.cpp
  libecole/tests/CMakeLists.txt
  libecole/tests/src/reward/test-boundintegral.cpp
  libecole/tests/src/reward/unit-tests.hpp
  python/src/ecole/core/caster.hpp
  python/src/ecole/core/reward.cpp
  python/tests/test_reward.py
Labels: new/reward 🌟

#192 Add Hutter et al. (2011) observation function
  docs/reference/observations.rst
  libecole/CMakeLists.txt
  libecole/include/ecole/observation/hutter-2011.hpp
  libecole/include/ecole/scip/cons.hpp
  libecole/include/ecole/scip/model.hpp
  libecole/include/ecole/scip/scimpl.hpp
  libecole/src/instance/independent-set.cpp
  libecole/src/observation/hutter-2011.cpp
  libecole/src/observation/khalil-2016.cpp
  libecole/src/observation/milpbipartite.cpp
  libecole/src/scip/cons.cpp
  libecole/src/scip/model.cpp
  libecole/src/scip/scimpl.cpp
  libecole/src/utility/graph.cpp
  libecole/src/utility/graph.hpp
  libecole/src/utility/math.hpp
  libecole/tests/CMakeLists.txt
  libecole/tests/src/conftest.cpp
  libecole/tests/src/conftest.hpp
  libecole/tests/src/data/test-constant.cpp
  libecole/tests/src/data/test-map.cpp
  libecole/tests/src/data/test-multiary.cpp
  libecole/tests/src/data/test-none.cpp
  libecole/tests/src/data/test-parser.cpp
  libecole/tests/src/data/test-timed.cpp
  libecole/tests/src/data/test-tuple.cpp
  libecole/tests/src/data/test-vector.cpp
  libecole/tests/src/data/unit-tests.hpp
  libecole/tests/src/instance/test-independent-set.cpp
  libecole/tests/src/instance/unit-tests.cpp
  libecole/tests/src/observation/test-hutter-2011.cpp
  libecole/tests/src/observation/test-khalil-2016.cpp
  libecole/tests/src/observation/test-nodebipartite.cpp
  libecole/tests/src/observation/test-pseudocosts.cpp
  libecole/tests/src/observation/test-strongbranchingscores.cpp
  libecole/tests/src/reward/test-isdone.cpp
  libecole/tests/src/reward/test-lpiterations.cpp
  libecole/tests/src/reward/test-nnodes.cpp
  libecole/tests/src/reward/test-solvingtime.cpp
  libecole/tests/src/reward/unit-tests.hpp
  libecole/tests/src/utility/test-graph.cpp
  python/src/ecole/core/observation.cpp
  python/tests/test_observation.py
Labels: new/observation 🔍

#183 PrimalSearch environment
  docs/reference/environments.rst
  libecole/CMakeLists.txt
  libecole/include/ecole/dynamics/primalsearch.hpp
  libecole/include/ecole/environment/primalsearch.hpp
  libecole/include/ecole/scip/model.hpp
  libecole/include/ecole/scip/scimpl.hpp
  libecole/src/dynamics/branching-sum.cpp
  libecole/src/dynamics/branching.cpp
  libecole/src/dynamics/primalsearch.cpp
  libecole/src/scip/model.cpp
  libecole/src/scip/scimpl.cpp
  libecole/tests/CMakeLists.txt
  libecole/tests/src/conftest.cpp
  libecole/tests/src/dynamics/test-primalsearch.cpp
  libecole/tests/src/scip/test-model.cpp
  python/src/ecole/core/dynamics.cpp
  python/src/ecole/environment.py
  python/tests/test_dynamics.py
  python/tests/test_environment.py
Labels: new/dynamics ⚙️
